


/* MAIN WINDOW TO THE RIGHT OF THE SIDEBAR */
body #main {
    position: relative;
    margin: 40px 30px 30px 190px;
}

body.menu-open #main {
    margin-left: 170px; 
}

/* MENU */

body #menu {
    top: 40px!important;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

body.menu-open #menu {
    margin-left: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

body .toolbar-title {
    color: #FFF;
    font-size: 110%;
    margin: 0;
    padding: 0 0 0 0.6em;
    text-decoration: none;
    line-height: 40px;
}


body .menu-link {
    background: transparent;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
    right: 0;
    left: auto!important;
}

body #toolbar {
    z-index: 1;
    position: fixed;
    height: 40px;
    line-height: 40px;
    background: #1f8dd6;
    top: 0;
    left: 0;
    right: 0;
}


/* COLOUR LEGEND ON TIMESHEET */
body #main .legend {
    margin: 0 0 10px;
}

/* ADMIN PAGE HEADER AND ADD BUTTON */
body #main h2.admin-index {
    display: inline-block;
    margin-top: 20px;
}


body #main .admin-add-button {
    display: inline-block;
    margin: 0 0 10px 10px;
    background-color: #1f8dd6;
    color: #FFF;
}


.scheduler_default_main .scheduler_default_message {
    height: 30px!important;
    line-height: 30px!important;
    margin-bottom:-40px;
    padding: 0 10px;
    font-size: 14px;
}


/************ TABLES ************/

body .pure-table td,
body .pure-table th {
    text-align: center;
}

body .pure-table td .pure-button {
    padding: .3em 0.8em;
    background-color: #1f8dd6;
    color: #FFF;
} 

body table.dataTable.no-footer {
    border: 1px solid #cbcbcb!important;
}

body .dataTables_wrapper .dataTables_filter input[type=search] {
    margin-bottom: 10px;
}

body button.dt-button,
body div.dt-button, 
body a.dt-button,
body button.dt-button:hover,
body div.dt-button:hover, 
body a.dt-button:hover {
    padding: .3em 0.8em!important;
    background-color: #1f8dd6!important;
    color: #FFF!important;
    border-radius!important;
    background: #aaa!important;
    border: none!important;
}

body button.dt-button:hover,
body div.dt-button:hover, 
body a.dt-button:hover {
    background: #999!important;
}


/************ FORMS *************/
body #main .pure-form-aligned .pure-control-group {
    margin-bottom: 1em;
}

/* INPUT AND SELECT BOXES */
body #main .pure-form-aligned .pure-control-group input,
body #main .pure-form-aligned .pure-control-group select {
    min-width: 200px;
}

/* RESET RADIO BUTTONS AFTER ABOVR GLOBAL SELECTORS - BIT HACKY BUT MEH */
body #main .pure-form-aligned .pure-control-group input[type="radio"] {
    min-width: auto;
}

/* RED ERROR MESSAGE ON FORMS */
body #main #submit-error {
    margin-left: 10px;
    color: #E00;
}

body table.dataTable thead .sorting_asc,
body table.dataTable thead .sorting_desc{
    background-size: 30px!important;
}


/* MODAL POPUPS ON THE TIMESHEET SCREEN */
body .modal_default_main {
    height: auto!important;
    padding: 0 10px;
    border: 3px solid grey;
}

/* DELETE BUTTON ON EDIT EVENT MODAL */
body #deleteform {
    position: absolute;
    right: 0;
    bottom: 0.75em;

}

body #deleteform .delete-event-btn {
    background-color: #D00;
    float: right;
}


/* BREAKSPOINTS */

@media (min-width: 48em) {
    #menu {
        left: 160px!important;
        margin-left: -160px!important;
        width: 160px!important;
    }
}

@media only screen and (max-width: 767px) {
    body #main {
        margin: 18px 10px;
    }
}


@media only screen and (max-width: 470px) {
    body #main {
        margin: 12px 6px;
    }
}
